/* CAROUSEL */
.carousel {
    overflow: hidden;
}

.carousel .content {
    width: 100%;
    max-width: 100%;
}

.carousel:hover .owl-theme .owl-nav .owl-prev {
    left: 0;
}

.carousel:hover .owl-theme .owl-nav .owl-next {
    right: 0;
}

.carousel .owl-theme .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
}

.carousel .owl-theme .owl-nav .owl-prev, .carousel .owl-theme .owl-nav .owl-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    transition: background-color 0.2s ease-in-out;
}

.carousel .owl-theme .owl-nav .owl-prev {
    left: -60px;
    transition: left 0.2s ease-in-out;
}

.carousel .owl-theme .owl-nav .owl-next {
    right: -60px;
    transition: right 0.2s ease-in-out;
}

.carousel .owl-theme .owl-nav .owl-prev:hover, .carousel .owl-theme .owl-nav .owl-next:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.carousel .owl-theme .owl-nav .owl-prev i, .carousel .owl-theme .owl-nav .owl-next i {
    font-size: 1.2em;
}

.carousel .owl-theme .owl-dots {
    position: absolute;
    bottom: 5px;
    /* right: 5px; */
}

.carousel .owl-theme .owl-dots .owl-dot span {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.owl-carousel {
    position: relative !important;
}

.owl-carousel a {
    cursor: pointer;
}

/*SLIDES TEXT + BUTTONS*/
.owl-carousel .slide-text {
    position: absolute;
    top: 30%;
    left: 19%;
    text-transform: uppercase;
    z-index: 99;
    max-width: 90vw;
}

.owl-carousel .slide-text h1 {
    color: #FFFFFF;
    font-size: 4.2rem;
    font-weight: 800;
    padding: 0;
    margin: 0 0 30px 0;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.owl-carousel .slide-text p {
    color: #F1F4F5;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.owl-carousel .slide-text .slide-buttons {
    margin-top: 60px;
}

.owl-carousel .slide-text .slide-buttons a.ind_btn {
    height: 52px;
    min-width: 150px;
    padding: 20px 20px;
    text-align: center;
    line-height: .9;
    margin-bottom: 6px;
}

@media screen and (max-width: 30em) {
    .owl-carousel .slide-text {
        top: 30%;
        left: 5%;
    }

    .owl-carousel .slide-text h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .owl-carousel .slide-text p {
        font-size: 0.875rem;
        text-align: center;
    }

    .owl-carousel .slide-text .slide-buttons {
        text-align: center;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 34em) {

    .owl-carousel .slide-text {
        top: 8%;
        left: 8%
    }

    .owl-carousel .slide-text h1 {
        font-size: 1.5rem;
        text-align: left;
        margin: 0 0 10px 0;
    }

    .owl-carousel .slide-text p {
        font-size: 0.875rem;
        text-align: center;
    }

    .owl-carousel .slide-text .slide-buttons {
        margin-top: 20px;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 48em) {

     .owl-carousel .slide-text {
        top: 18%;
        left: 8%
    }

    .owl-carousel .slide-text h1 {
        font-size: 1.6rem;
        text-align: left;
        margin: 0 0 10px 0;
    }

    .owl-carousel .slide-text p {
        font-size: 0.975rem;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons {
        margin-top: 20px;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 60em) {

    .owl-carousel .slide-text {
        top: 28%;
        left: 8%
    }
}

@media screen and (min-width: 75em) {

    .owl-carousel .slide-text h1 {
        font-size: 4rem;
        text-align: left;
        margin: 0 0 30px 0;
    }

    .owl-carousel .slide-text p {
        font-size: 1.5rem;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons {
        margin-top: 30px;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 1.2rem;
        height: 60px;
        min-width: 180px;
        padding: 20px 20px;
        text-align: center;
        line-height: .9;
        margin-bottom: 6px;
    }
}



@media screen and (min-width: 100em) {

    .owl-carousel .slide-text h1 {
        font-size: 4.3rem;
        text-align: left;
        margin: 0 0 30px 0;
    }

    .owl-carousel .slide-text p {
        font-size: 1.8rem;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons {
        margin-top: 30px;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 1.3rem;
        height: 60px;
        min-width: 180px;
        padding: 20px 20px;
        text-align: center;
        line-height: .9;
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 150em) {
    .owl-carousel .slide-text {
        top: 35%;
        left: 20%
    }

    .owl-carousel .slide-text h1 {
        font-size: 4.6rem;
        text-align: left;
        margin: 0 0 30px 0;
    }

    .owl-carousel .slide-text p {
        font-size: 2rem;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons {
        margin-top: 30px;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 1.3rem;
        height: 65px;
        min-width: 200px;
        padding: 25px 25px;
        text-align: center;
        line-height: .9;
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 180em) {

    .owl-carousel .slide-text {
        top: 45%;
        left: 30%
    }

    .owl-carousel .slide-text h1 {
        font-size: 5rem;
        text-align: left;
        margin: 0 0 30px 0;
    }

    .owl-carousel .slide-text p {
        font-size: 2.4rem;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons {
        margin-top: 30px;
        text-align: left;
    }

    .owl-carousel .slide-text .slide-buttons a.ind_btn {
        font-size: 1.3rem;
        height: 65px;
        min-width: 200px;
        padding: 25px 25px;
        text-align: center;
        line-height: .9;
        margin-bottom: 6px;
    }
}
