APP_NAME='WC php@8.5'
APP_ENV=local
APP_URL=https://localhost/zen
APP_DEBUG=true
APP_THEME=zen
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR

DB_HOST_DEV=localhost
DB_NAME_DEV=zen_db
DB_USER_DEV=root
DB_PASSWORD_DEV=
DB_HOST_PRODUCTION=localhost
DB_NAME_PRODUCTION=
DB_USER_PRODUCTION=
DB_PASSWORD_PRODUCTION=
DB_DRIVER=mysql
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_0900_ai_ci
DB_PORT=3306

MAIL_HOST=
MAIL_PORT=465
MAIL_USER=
MAIL_SMTP=
MAIL_PASS=
MAIL_SENDER='WC'
MAIL_MODE=ssl
MAIL_TESTER=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME='WC'

GOOGLE_MAPS_API_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

STORAGE_DRIVER=local
STORAGE_PATH=/uploads
