* {font-family: 'Ubuntu', sans-serif;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.pure-g {letter-spacing: -.31em;*letter-spacing: normal;*word-spacing: -.43em;text-rendering: optimizespeed; display: -webkit-flex;-webkit-flex-flow: row wrap;display: -ms-flexbox;-ms-flex-flow: row wrap}

.opera-only :-o-prefocus, .pure-g {word-spacing: -.43em}

.pure-u {display: inline-block;*display: inline;zoom: 1;letter-spacing: normal;word-spacing: normal;vertical-align: top;text-rendering: auto}

.pure-g [class *="pure-u"] {font-family: sans-serif}

.pure-u-1 {display: inline-block;*display: inline;zoom: 1;letter-spacing: normal;word-spacing: normal;vertical-align: top;text-rendering: auto;}

.opera-only :-o-prefocus, .pure-g-r {word-spacing: -.43em}

.pure-g-r [class *="pure-u"] {font-family: sans-serif}

.pure-g-r img {max-width: 100%;height: auto}


@media (max-width: 480px) {
    .pure-g-r > .pure-u, .pure-g-r > [class *="pure-u-"], .pure-u-1 {width: 100%}
    
}

@media (max-width: 767px) {
    .pure-g-r > .pure-u, .pure-g-r > [class *="pure-u-"], .pure-u-1 {width: 100%}
}

@media screen and (min-width: 48em) {
    .pure-u-md-1-2 {display: inline-block;*display: inline;zoom: 1;letter-spacing: normal;word-spacing: normal;vertical-align: top;text-rendering: auto; width: 50%;*width: 49.969%}

}